<app-header></app-header>
<div class="container mt-4">
  <div *ngIf="post" class="card mb-4">
    <div class="card-body">
      <h3 class="card-title">{{ post!.title }}</h3>
      <p class="card-text">{{ post!.body }}</p>

    </div>
  </div>

  <h4 class="mb-3">Tous les commentaires</h4>
  <div *ngFor="let comment of comments" class="card mb-2">
    <div class="card-body">
      <p class="card-text">{{ comment.body }}</p>
      <p></p>
      Auteur :
        <ng-container *ngIf="getAuthorUser(comment.email); else unknownUser">
          <a *ngIf="getAuthorUser(comment.email) as user" [routerLink]="['/users', user.id]">
            {{ user.name }}
          </a>
        </ng-container>
        <ng-template #unknownUser>{{ comment.email }}</ng-template>

    </div>
  </div>
</div>
